/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nombre_agencia {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: royalblue; 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: royalblue;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
width: 60%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

nav ul li a {
  color: #f7f7f7; 
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: rgb(108, 250, 250);
}

#presentacion {
  width: 95%;
  background-color: #f0e68c; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: hsl(54, 76%, 69%); 
  padding: 40px;
  gap: 20px;
}

.presentacion h2 {
  font-size: 3rem;
  margin-top: 10px;
}

.presentacion p {
  font-size: 1.7rem;
  margin-top: 10px;
}

.imagen {
  width: 100%;
}

.presentacion img {
  width: 100%;
}

#destinos {
  width: 95%;
  background-image: linear-gradient(to bottom, #f0e68c, #d8bfd8);
  background-color: #f0e68c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#destinos h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#destinos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#destinos ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px #f0e68c;
  text-align: center;
}

#destinos ul li img {
  max-width: 100%;
  border-radius: 10px;
}

#destinos ul li h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

#destinos ul li p {
  font-size: 1rem;
  margin-top: 10px;
}

#destinos ul li button {
  background-color: #9896ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

#destinos ul li button:hover {
  background-color: royalblue;
}

#detallesDestinos {
  width: 95%;
  background-image: linear-gradient(to bottom, #f0e68c, #d8bfd8);
  background-color: #f0e68c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  text-align: center;
}

#detallesDestinos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

}

#detallesDestinos ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px #f0e68c;
}

#detallesDestinos ul li img {
  max-width: 100%;
  border-radius: 10px;
}

#reservas {
  width: 100%;
  max-width: 800px;
  background-color: #d8bfd8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reservas h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#reservas form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#reservas form label {
  font-size: 1rem;
  font-weight: bold;
}

#reservas form input,
#reservas form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

#reservas form button {
  background-color: #9896ff;
  border: none;
  padding: 10px ;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.5rem;
}

#reservas form button:hover {
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#detallesDestinos ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px #f0e68c;
}

#detallesDestinos ul li img {
  max-width: 100%;
  border-radius: 10px;
}

#reservas {
  width: 100%;
  max-width: 800px;
  background-color: #d8bfd8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reservas h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#reservas form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#reservas form label {
  font-size: 1rem;
  font-weight: bold;
}

#reservas form input,
#reservas form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

#reservas form button {
  background-color: #9896ff;
  border: none;
  padding: 10px ;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.5rem;
}

#reservas form button:hover {
  background-color: royalblue;
}

.reservasHechas {
  width: 50%;
  max-width: 800px;
  background-color: #999999;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-bottom: 40px;
}

.reservasHechas p {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}