.libro {
  display: flex;
  width: 200px;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #363636;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(73, 73, 73, 0.767);
  text-align: center;
}

.x {
  width: 100%;
  display: flex;
  justify-content: right;
}

.x button {
  background-color: #363636;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}

.x button:hover {
  background-color: red;
}

.img img {
  max-height: 200px;
  max-width: 90%;
  border-radius: 4px;
}

.detalles {
  color: white;
  margin-top: 5px;
}

button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.even {
  background-color: rgba(0, 255, 13, 0.767);
}

.even:hover {
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
}

.noEven {
  background-color: rgb(0, 0, 184);
}

.noEven:hover {
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
}