<div class="footer">
  <h2>Síguenos en nuestras redes sociales</h2>
  <div class="redes">
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/600px-2023_Facebook_icon.svg.png" alt="Facebook">
    </a>
    <a href="www.https://github.com" target="_blank" aria-label="Twitter">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/1024px-GitHub_Invertocat_Logo.svg.png" alt="Twitter">
    </a>
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1024px-Instagram_logo_2022.svg.png" alt="Instagram">
    </a>
  </div>
</div>