<div class="container">
  <div class="form">
    <h2>Registro</h2>
    <form>
      <div class="seccion">
        <label><span>Nombre</span><input></label>
      </div>
      <div class="seccion">
        <label><span>Apellidos</span><input></label>
      </div>
      <div class="seccion">
        <label><span>Email</span><input></label>
      </div>
      <div class="seccion">
        <label><span>URL</span><input></label>
      </div>
      <div class="seccion">
        <label><span>Contraseña</span><input></label>
      </div>
      <div class="seccion">
        <label><span>Repetir Contraseña</span><input></label>
      </div>
      <div class="btn">
        <button>Registrarse</button>
      </div>
    </form>
  </div>
</div>
