.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-color);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #363636;
  color: #000000;
}

span {
  font-weight: bold;
}

.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.mensaje2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}


.invalido {
  color: red;
}

.error {
  color: red;
  font-weight: bold;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primer-color);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--segundo-color);
}