<main>
<section class="hero">
  <div class="sombreado">
  <h2>Descubre los Mejores Libros</h2>
  <p>Explora nuestra colección de libros y encuentra tu próxima lectura favorita.</p>
</div>
</section>

<section class="anuncios">
  <div class="cartel">
    <h3>Gran Variedad</h3>
    <p>Tenemos una amplia selección de libros de todos los géneros.</p>
  </div>
  <div class="cartel">
    <h3>Precios Accesibles</h3>
    <p>Ofrecemos precios competitivos y descuentos especiales.</p>
  </div>
  <div class="cartel">
    <h3>Fácil de Usar</h3>
    <p>Nuestra plataforma es fácil de navegar y encontrar lo que buscas.</p>
  </div>
</section>
</main>
