<div class="form">
  <form>
    <div class="datos">
      <div class="buscar">
      <label><span>Id del libro</span><input [(ngModel)]="libroId" name="libroId" type="number"></label>
      <button (click)="encontrarLibro()">Buscar el Libro</button>
    </div>
      <label><span>Id del usuario</span><input [(ngModel)]="usuarioId" name="usuarioId" type="number"></label>
      <label><span>Titulo del libro</span><input [(ngModel)]="titulo" name="titulo" type="text"></label>
      <label><span>Estilo del libro</span><input [(ngModel)]="estilo" name="estilo" type="text"></label>
      <label><span>Autor del libro</span><input [(ngModel)]="autor" name="autor" type="text"></label>
      <label><span>Precio</span><input [(ngModel)]="precio" name="precio" type="number"></label>
      <label><span>Url de la imagen</span><input [(ngModel)]="imagenUrl" name="imagenUrl" type="text"></label>
    </div>
    <div class="btn">
      <button type="button" (click)="modificarLibro()">Modificar</button>
    </div>
  </form>
</div>